@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-image: linear-gradient(to right, transparentize(v.$primario, .1) 0%, transparentize(v.$primario, .1) 100%), url(../img/hero2.webp);
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
    position: relative;



    @include m.tablet {
        padding: 3rem 0 20rem 0;
    }

    &__barra {
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        // .header__hamburgerLogo {
        //     display: flex;
        //     align-items: center;
        // }

        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__logo a {
        display: flex;
        text-decoration: none;
        font-size: 5rem;
        color: v.$blanco;

        img {
            margin-right: 2rem;
            width: 8rem;
        }

        span {
            color: v.$naranja;
        }
    }

    &__contenido {

        @include m.tablet {
            margin-top: 10rem;
            max-width: 50rem;
        }
    }

    &__heading {

        color: v.$blanco;
        text-align: center;

        @include m.tablet {
            text-align: left;
        }
    }

    &__texto {
        color: v.$blanco;
        display: none;

        @include m.tablet {
            display: block;
        }
    }

    &__imagen {
        display: none;

        @include m.tablet {
            display: block;
            position: absolute;
            right: 0;
            bottom: -5rem;
            max-width: 35rem;

            border-top-left-radius: 2rem;
            border-bottom-left-radius: 5rem;
        }

        @include m.desktopXL {
            max-width: 60rem;
        }

    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-bottom: 1rem;

        .line {
            width: 3rem;
            height: 3px;
            background: v.$blanco;
            margin: 6px 0;
        }

        @include m.tablet {
            display: none;

        }
    }


}

.navegacion {
    height: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: opacity 0.5s, height 0.5s;

    @include m.tablet {
        opacity: 1;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        margin-top: 0;
    }

    &__link {
        color: v.$blanco;
        font-size: 1.8rem;
        margin-bottom: 2rem;

        &:last-of-type {
            margin-bottom: 0;
        }

        @include m.tablet {
            margin-bottom: 0;
        }

    }

}

.navegacion.active {
    opacity: 1;
    height: auto;
}