// Fuentes
$fuentePrincipal: 'Open Sans', sans-serif;
$fuenteSecundaria: 'Roboto', cursive;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1200px;

// Colores
$primario: #2F2519;
$secundario: #4A3F35;
$negro: #000;
$naranja: #E85D04;
$blanco: #FFFFFF;
$gris: #D9D9D9;
$grisClaro: #F0EAEA;